NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
ROWING_MAP_KEY=
MAPBOX_MAIN_KEY=
MAPBOX_STYLE_URL=
MAPBOX_STATIC_IMAGE_URL=
WEATHER_RADAR_TILE_URL=
WEATHER_RADAR_TILE_LVX=
WEATHER_RADAR_ATTRIBUTION=
